body {
  margin: 0;
}

body div {
  height: 100vh;
  width: 100%;
}

.text {
  align-items: center;
  display: flex;
  font-family: 'Lucida Console', 'Courier New', monospace;
  font-size: clamp(1rem, -0.875rem + 8.333vw, 3.5rem);
  justify-content: center;
}

.text span {
  color: white;
  text-shadow: black 0.1rem 0.1rem;
}

.text span a {
  color: white;
}

.text .letterO {
  cursor: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='font-size: 24px'><text y='20'>✌🏻</text></svg>"),
    auto;
}

.wrapper {
  animation: rainbow 25s ease-in-out infinite;
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 1800% 1800%;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

@keyframes rainbow {
  0% {
    background-position: 0% 80%;
  }
  50% {
    background-position: 100% 20%;
  }
  100% {
    background-position: 0% 80%;
  }
}
